ADZUNA_APP_ID=your_adzuna_app_id
ADZUNA_APP_KEY=your_adzuna_app_key

JOB_SEARCH_TITLE=Java Developer
JOB_SEARCH_LOCATION=Hyderabad

JOB_SEARCH_INTERVAL_HOURS=6
JOB_SEARCH_MAX_PAGES=1
JOB_SEARCH_RESULTS_PER_PAGE=10
JOB_STALE_AFTER_HOURS=72
